@import '../../Assets/colors/colors.css';

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

/* Estilos de la página principal */
.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* Estilos del héroe, sección principal */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.1)
    ), url(../../Assets/Images/login_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
    border-radius: 40px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

/* Estilos específicos para el contenedor de login */
#login {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos para los distintos elementos de texto */
h2 {
    color: #242D49;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.welcome {
    color: var(--color-primary);
    font-size: 2.3rem;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: center;
}

.hero p,
#typewriter {
    color: #242D49;
    font-size: 1.8rem;
    font-weight: lighter;
    margin-bottom: 20px;
    text-align: start;
    max-width: 800px;
}

/* Estilos para el botón */
#button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 25%;
    height: 60px;
    border-radius: 10px;
    background-color: var(--color-accent-blue);
    border: none;
    font-size: 1.5rem;
    font-weight: bold;
    color: #d7d7d6;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

#button:hover {
    background-color: #d7d7d6;
    color: var(--color-text);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    border-color: var(--color-accent-blue);
    border: 1px solid var(--color-accent-blue);
}

/* Media queries para tamaños de pantalla más pequeños */
@media screen and (max-width: 480px) {
    .hero {
        height: 100vh;
        width: 100%;
        margin: 0;
        border-radius: 0;
        background-image: none;
        display: flex ;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .hero p {
        font-size: 1.5rem;
    }
    .welcome {
        font-size: 2rem;
    }
    #typewriter {
        font-size: 1.5rem;
    }
    #title {
        font-size: 2rem;
    }
    h2 {
        font-size: 2rem;
    }
    #button {
        justify-content: center;
        width: 100%;
        height: 60px;
    }

    
}