@import '../../Assets/colors/colors.css';
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    
}
* {
    margin: 0;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.1),
         rgba(0, 0, 0, 0.1)

         )
    ,url(../../Assets/Images/login_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin:20px;
    border-radius: 40px;
    
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

#login {
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
h2 {
    color: #242D49;
    font-size: 3rem;
    font-weight: bold   ;
    margin-bottom: 20px;
    text-align: center;

}

.welcome {
    color: var(--color-primary);
    font-size: 2.3rem;
    font-weight: bolder;
    margin-bottom: 20px;
    text-align: center;
   
    
}
.hero p {
    color: #242D49;
    font-size: 1.8rem;
    font-weight: lighter;
    margin-bottom: 20px;
    text-align: start;
    max-width: 800px;
}
#typewriter {
    font-size: 2rem;
    font-weight: lighter;
    margin-bottom: 20px;
    text-align: start;
    max-width: 800px;
}
.btn-secondary:hover {
    /* background-color: #fff; */
    border-color: #ffff71;
    font-weight: 600;
    /* line-height: 60px; */
}

#title {
    font-size: 3rem;
    font-weight: bold;
    color: #242D49;
    margin-bottom: 20px;
    text-align: center;
}