@import '../../Assets/colors/colors.css';

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
  transition: all 300ms ease;
  background-color: #cccccc;
  width: 100%;
  border-radius: 5rem 0 5rem 0;
  justify-content: flex-start;
  align-items: center;

}

/* logo */
.bars {
  display: none;
}

.logo {
  display: flex;
  height: 5rem;
  font-weight: bold;
  font-size: 22px;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  height: 4%;
}

.logo>span>span {
  color: var(--color-text);
}

.logo>img {
  width: 3rem;
  height: 3rem;
}


/* menu */
.menu {
  height: 100%;
  margin-top: 1rem;
  display: flex;
  position: fixed;
  flex-direction: column;
  gap: 2rem;
  justify-content:flex-start
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 0px;
  /* Cambia este valor a la cantidad deseada */
  position: relative;
  transition: all 200ms ease;
  border-radius: 0.7rem;
  font-size: 14px;
  transform: translateX(0);
  /* Añade esta propiedad */
 
  

}

.active {
  background: var(--activeItem);
  justify-content: flex-start;
  margin-left: 0px;
  width: 100%;
  transition: all 300ms ease;
  transform: translateX(10px);
}

.menuItem:not(.active):hover {
  width: 100%;
  background: #e6e6e6;
  border-radius: 0.7rem;
  justify-content: flex-start;
  margin-left: 0px;
  /* Asegúrate de establecerlo en 0px para que se mueva a la posición correcta */
  transition: all 100ms ease;
  transform: translateX(10px);
  /* Cambia este valor a la cantidad deseada */

}

.active::before {
  position: relative;
  content: "";
  width: 8px;
  height: 100%;
  background: var(--color-text);
  margin-right: calc(1rem - 8px);
}


/* Tablets */
@media screen and (max-width: 1200px) {
  .menuItem>span {
    display: none;
  }

  .logo {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {

    position: fixed;
    z-index: 9;
    background: rgba(47, 46, 65, 0.54);
    width: 55%;
    padding-right: 1rem;
    height: 100%;

  }

  .menuItem>span {
    display: block;
    color: white;
    font-weight: bold;
  }

  .logo {
    display: flex;
  }

  .menu .menuItem:last-child {
    position: relative;
    margin-top: 6rem;
  }

  .bars {
    display: flex;
    position: fixed;
    top: 2rem;
    left: 60%;
    background: #ffe0e0;
    padding: 10px;
    border-radius: 10px;
    z-index: 9;
  }

  .close {
    left: -60%;
  }
}

a {
  text-decoration: none;
  color: var(--color-text);
}