.espacio{
    height: 150px;
  }
  
  
  header {
    background-color: #282c34;
    min-height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: calc(10px + 2vmin);
    color: rgb(245, 238, 238);
  
    padding: 16px;
  }
header a {
    color: white;
    text-decoration: none;
  }
header a:hover {
    color: #61dafb;
  }
 header a.active {
    color: #61dafb;
    text-decoration: dotted;
    pointer-events: none;
  }
 header ul{
    list-style-type: none;
  }